{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "namespace": "af-rss"
      }
    ],
    [
      "@babel/plugin-syntax-import-attributes",
      {
        "deprecatedAssertSyntax": true
      }
    ]
  ]
}
